body{
	background-color: #fff;
}
.dong{
	margin-top: 40px;
	margin-bottom: 65px;
}
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*去除移动端特有的点击高亮效果*/
	-webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

button, html input[type=button], input[type=submit] {
	-webkit-apperance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

ol, ul {
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

em, i, u {
	font-style: normal
}

.fl {
	float: left
}


.fr {
	float: right
}

.al {
	text-align: left
}

.ac {
	text-align: center
}

.ar {
	text-align: right
}

.hide {
	display: none
}

.clear, .clr {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0
}
.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	*zoom: 1
}

.dorpdown {
	position: relative
}

.dorpdown-layer {
	display: none;
	position: absolute
}

.dorpdown:hover .dorpdown-layer, .hover .dorpdown-layer {
	display: block
}

.cw-icon {
	position: relative;
	cursor: default;
	zoom: 1
}

.cw-icon .i, .cw-icon i {
	display: block;
	position: absolute;
	overflow: hidden
}
input{
	/*1.清除文本框获取焦点时默认的边框阴影*/
	outline: none;
	/*2.去除边框*/
	border: none;
	/*3.添加边框*/
	border: 1px solid #ccc;
}
body {
	font: 12px/150%  Microsoft Yahei,Arial, Verdana, "\5b8b\4f53";
	color: #333;
	background: #fff
}

a {
	color: #666;
	text-decoration: none
}

a:hover {
	color: #C81623
}